@import "./variables";
.search {
  width: 28rem;
  height: 3rem;
  border: 2px solid $color-black;
  border-radius: 10rem;
  outline: none;
  transition: border 0.3s;

  @include lg {
    width: 25rem;
  }

  @include md {
    width: 20rem;
  }

  @include sm {
    width: 15rem;
  }

  &__form {
    display: flex;
    align-items: center;
    height: 100%;
  }

  &:focus {
    border: 2px solid $color-blue-light;
    padding-left: 4rem;

    &::placeholder {
      color: transparent;
    }
  }

  &::placeholder {
    padding-left: 4rem;
    font-size: 1.5rem;
    overflow: visible;
    line-height: 1.5rem;
    text-justify: center;
  }

  &__icon {
    position: absolute;
    height: 2rem;
    width: 2rem;
    transform: translateX(1rem);
  }

  &__submit--hidden {
    visibility: hidden;
    height: 0;
    width: 0;
  }
}
