*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  overflow-x: hidden; }

html {
  font-size: 62.5%; }
  @media (max-width: 992px) {
    html {
      font-size: 58%; } }
  @media (max-width: 768px) {
    html {
      font-size: 55%; } }
  @media (max-width: 596px) {
    html {
      font-size: 53%; } }

body {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif; }

.cta-top {
  position: relative;
  display: flex;
  margin-top: 4rem;
  justify-content: center;
  align-items: center; }
  .cta-top__img {
    display: flex;
    padding: 3rem;
    width: 85%;
    height: 34rem;
    background-image: linear-gradient(to left, #ffffff00 15%, #29303b 40%), url("../imgs/work.jpg");
    background-size: cover; }
    @media (max-width: 768px) {
      .cta-top__img {
        width: 100%;
        background-image: linear-gradient(to left, #ffffff00 15%, #29303b 30%), url("../imgs/work.jpg"); } }
    @media (max-width: 596px) {
      .cta-top__img {
        background-image: url("../imgs/work.jpg"); } }
  .cta-top__textbox {
    position: absolute;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    width: 45%;
    left: 10%;
    height: 30rem;
    color: #f7f7f7;
    align-items: center; }
    @media (max-width: 768px) {
      .cta-top__textbox {
        height: 34rem;
        width: 60%;
        left: 3rem; } }
    @media (max-width: 596px) {
      .cta-top__textbox {
        width: 100%;
        left: 0;
        padding: 2rem;
        background-color: rgba(41, 48, 59, 0.9); } }
    .cta-top__textbox--headline {
      font-size: 3.5rem; }
    .cta-top__textbox--story {
      font-size: 1.6rem; }
    .cta-top__textbox--button {
      height: 3.5rem;
      width: 36rem;
      font-size: 1.6rem;
      font-weight: 600;
      color: #f7f7f7;
      background-color: #1dace3;
      border-radius: 10rem;
      border: none;
      outline: none;
      cursor: pointer;
      transition: all 0.4s; }
      .cta-top__textbox--button:hover {
        color: #1dace3;
        background-color: #f7f7f7; }
