*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  overflow-x: hidden; }

html {
  font-size: 62.5%; }
  @media (max-width: 992px) {
    html {
      font-size: 58%; } }
  @media (max-width: 768px) {
    html {
      font-size: 55%; } }
  @media (max-width: 596px) {
    html {
      font-size: 53%; } }

body {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif; }

.page-container {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 23rem); }

.cta-top {
  position: relative;
  display: flex;
  margin-top: 4rem;
  justify-content: center;
  align-items: center; }
  .cta-top__img {
    display: flex;
    padding: 3rem;
    width: 85%;
    height: 34rem;
    background-image: linear-gradient(to left, #ffffff00 15%, #29303b 40%), url("../imgs/work.jpg");
    background-size: cover; }
    @media (max-width: 768px) {
      .cta-top__img {
        width: 100%;
        background-image: linear-gradient(to left, #ffffff00 15%, #29303b 30%), url("../imgs/work.jpg"); } }
    @media (max-width: 596px) {
      .cta-top__img {
        background-image: url("../imgs/work.jpg"); } }
  .cta-top__textbox {
    position: absolute;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    width: 45%;
    left: 10%;
    height: 30rem;
    color: #f7f7f7;
    align-items: center; }
    @media (max-width: 768px) {
      .cta-top__textbox {
        height: 34rem;
        width: 60%;
        left: 3rem; } }
    @media (max-width: 596px) {
      .cta-top__textbox {
        width: 100%;
        left: 0;
        padding: 2rem;
        background-color: rgba(41, 48, 59, 0.9); } }
    .cta-top__textbox--headline {
      font-size: 3.5rem; }
    .cta-top__textbox--story {
      font-size: 1.6rem; }
    .cta-top__textbox--button {
      height: 3.5rem;
      width: 36rem;
      font-size: 1.6rem;
      font-weight: 600;
      color: #f7f7f7;
      background-color: #1dace3;
      border-radius: 10rem;
      border: none;
      outline: none;
      cursor: pointer;
      transition: all 0.4s; }
      .cta-top__textbox--button:hover {
        color: #1dace3;
        background-color: #f7f7f7; }

.header {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 7rem;
  box-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.15); }
  .header__left {
    width: 30%; }
    .header__left--image {
      display: flex;
      width: 90%;
      cursor: pointer; }
  .header__center {
    display: flex;
    width: 40%;
    justify-content: center; }
  .header__right {
    display: flex;
    width: 30%;
    padding-right: 4rem;
    justify-content: flex-end; }
    .header__right--login {
      height: 4rem;
      width: 12rem;
      border-radius: 10rem;
      background-color: #1dace3;
      color: #f7f7f7;
      border: none;
      font-weight: 800;
      font-size: 1.4rem;
      outline: none;
      transition: all 0.4s;
      -webkit-appearance: none;
      cursor: pointer; }
      .header__right--login:hover {
        background-color: #f7f7f7;
        color: #1dace3;
        border: 2px solid #1dace3; }
    .header__right--cart {
      display: flex;
      align-self: center;
      margin-right: 1.6rem;
      height: 3rem;
      width: 3rem;
      cursor: pointer; }

.search {
  width: 28rem;
  height: 3rem;
  border: 2px solid #000000;
  border-radius: 10rem;
  outline: none; }
  @media (max-width: 992px) {
    .search {
      width: 25rem; } }
  @media (max-width: 768px) {
    .search {
      width: 20rem; } }
  @media (max-width: 596px) {
    .search {
      width: 15rem; } }
  .search::placeholder {
    padding-left: 4rem;
    font-size: 1.5rem; }
  .search:focus {
    border: 2px solid #1dace3;
    padding-left: 4rem; }
    .search:focus::placeholder {
      color: #ffffff00; }
  .search__icon {
    position: absolute;
    height: 2rem;
    width: 2rem;
    transform: translate(1rem, 0.5rem); }

.course-slider {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 4rem; }
  .course-slider__course {
    display: flex;
    flex-direction: column;
    height: 34rem;
    margin: 3rem 2rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    cursor: pointer;
    transition: all 0.4s; }
    .course-slider__course:hover {
      transform: translateY(-2px);
      box-shadow: 0 0.8rem 1.5rem rgba(0, 0, 0, 0.15); }
    .course-slider__course--forward {
      display: flex;
      overflow: visible;
      align-items: center;
      justify-content: flex-start;
      font-size: 5rem;
      color: #f7f7f7;
      transform: translateX(-3rem);
      z-index: 10;
      cursor: pointer; }
      .course-slider__course--forward::after {
        content: "";
        position: absolute;
        overflow-x: visible;
        transform: translateX(-1.1rem);
        height: 7rem;
        width: 7rem;
        border-radius: 10rem;
        background-color: rgba(233, 50, 124, 0.6);
        z-index: -1; }
      .course-slider__course--forward:hover::after {
        background-color: #e9327c; }
    .course-slider__course--back {
      display: flex;
      overflow: visible;
      align-items: center;
      justify-content: flex-end;
      font-size: 5rem;
      color: #f7f7f7;
      z-index: 10;
      transform: translateX(3rem);
      cursor: pointer; }
      .course-slider__course--back::before {
        content: "";
        position: absolute;
        overflow-x: visible;
        height: 7rem;
        width: 7rem;
        border-radius: 10rem;
        background-color: rgba(233, 50, 124, 0.6);
        transform: translateX(1.1rem);
        z-index: -1; }
      .course-slider__course--back:hover::before {
        background-color: #e9327c; }
    .course-slider__course--img {
      height: 17rem; }
    .course-slider__course--bottom {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 17rem; }
      .course-slider__course--bottom--title {
        display: -webkit-box;
        text-align: center;
        height: 4.5rem;
        margin: 0.7rem;
        font-size: 1.6rem;
        font-weight: 600;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis; }
      .course-slider__course--bottom--author {
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: left;
        margin-left: 3rem;
        margin-right: 1rem; }
      .course-slider__course--bottom--price {
        text-align: right;
        font-size: 1.6rem;
        font-weight: 600;
        margin-right: 2.5rem; }
      .course-slider__course--bottom--strike {
        font-size: 1.5rem;
        text-decoration: line-through;
        color: #696969;
        margin: 0.8rem; }
      .course-slider__course--bottom--button {
        height: 4rem;
        width: 100%;
        font-size: 1.6rem;
        font-weight: 600;
        color: #f7f7f7;
        background-color: #1dace3;
        border: none;
        outline: none;
        z-index: 1000;
        -webkit-appearance: none;
        border-radius: 0;
        cursor: pointer; }
  .course-slider__courses {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr; }
    @media (max-width: 596px) {
      .course-slider__courses {
        grid-template-columns: 1fr 1fr; } }
    @media (max-width: 450px) {
      .course-slider__courses {
        grid-template-columns: 1fr; } }
  .course-slider__title {
    display: block;
    text-align: center;
    font-size: 3rem; }
  .course-slider__underline {
    display: block;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    width: 70%; }
  .course-slider__container {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 16fr 1fr; }
  .course-slider__slideout {
    animation-name: slideout;
    animation-duration: 0.2s; }
  .course-slider__slidein {
    animation-name: slidein;
    animation-duration: 0.2s; }
  .course-slider__slideout-right {
    animation-name: slideoutRight;
    animation-duration: 0.2s; }
  .course-slider__slidein-right {
    animation-name: slideinRight;
    animation-duration: 0.2s; }

@keyframes slideout {
  0% {
    opacity: 1;
    transform: translateX(0); }
  100% {
    opacity: 0;
    transform: translateX(-100%); } }

@keyframes slidein {
  0% {
    opacity: 0;
    transform: translateX(100%); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes slideinRight {
  0% {
    opacity: 0;
    transform: translateX(-100%); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes slideoutRight {
  0% {
    opacity: 1;
    transform: translateX(0); }
  100% {
    opacity: 0;
    transform: translateX(100%); } }

.footer {
  position: relative;
  width: 100vw;
  height: 16rem;
  overflow: hidden;
  background-color: #ffffff;
  z-index: 999; }
  .footer__page-break {
    border-bottom: 2px solid rgba(105, 105, 105, 0.3);
    width: 100vw; }
  .footer__top {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr)); }
    .footer__top--link {
      font-size: 1.8rem;
      font-weight: 800;
      text-decoration: none;
      color: #1dace3;
      margin: 2rem 2rem 0 2rem;
      text-align: center;
      transition: all 0.4s; }
      .footer__top--link:hover {
        color: #001a49; }
  .footer__lowest {
    display: flex;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
    overflow-y: hidden;
    height: 10rem; }
    .footer__lowest--logo {
      width: 20%; }
    .footer__lowest--copyright {
      font-size: 1.4rem;
      font-weight: 800;
      margin-right: 4rem; }

.auth {
  display: flex;
  flex-direction: column;
  height: 24rem;
  width: 20rem;
  margin: 1.4rem auto 3rem auto;
  outline: 2px solid rgba(41, 48, 59, 0.2);
  outline-offset: 1rem; }
  .auth__options {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    font-weight: 800;
    z-index: 100;
    color: #696969; }
    .auth__options--clicked {
      color: #1dace3; }
    .auth__options--login {
      margin: 0 2.5rem;
      cursor: pointer; }
      .auth__options--login:hover {
        color: rgba(29, 172, 227, 0.5); }
  .auth__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 0.7rem;
    height: 100%; }
  .auth__header {
    width: 20rem;
    transform: translateY(-0.7rem) scale(1.8); }
  .auth__form {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between; }
    .auth__form--input {
      height: 3rem;
      border: 1px solid rgba(41, 48, 59, 0.4);
      border-radius: 10rem;
      background-color: rgba(247, 247, 247, 0.9);
      outline: none;
      z-index: 100; }
      .auth__form--input::placeholder {
        padding-left: 1.4rem; }
      .auth__form--input:focus {
        border: 2px solid #1dace3;
        padding-left: 1.4rem; }
        .auth__form--input:focus::placeholder {
          color: transparent; }
    .auth__form--submit {
      height: 3rem;
      font-size: 1.4rem;
      font-weight: 800;
      border: 1px solid #1dace3;
      border-radius: 10rem;
      color: #f7f7f7;
      background-color: #1dace3;
      cursor: pointer;
      z-index: 100;
      -webkit-appearance: none;
      transition: all 0.4s; }
      .auth__form--submit:hover {
        color: #1dace3;
        background-color: #f7f7f7; }

.auth-comp {
  display: flex;
  width: 85vw;
  margin: auto;
  background-image: linear-gradient(to right, #ffffff00 35%, #f7f7f7 50%), url("../imgs//keeplearning.jpg");
  background-size: contain; }
  @media (max-width: 768px) {
    .auth-comp {
      background-image: url("../imgs//keeplearning.jpg");
      background-size: cover;
      height: 50rem;
      width: 100vw; } }
  .auth-comp__left {
    width: 100%; }
    @media (max-width: 768px) {
      .auth-comp__left {
        width: 0; } }
  .auth-comp__right {
    padding: auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
    justify-content: auto;
    overflow-y: hidden;
    width: 100%; }
    @media (max-width: 768px) {
      .auth-comp__right {
        background-image: radial-gradient(circle, #f7f7f7 30%, rgba(247, 247, 247, 0.5) 70%); } }

.product-cta {
  position: relative;
  display: flex;
  width: 100vw;
  background-color: #29303b;
  height: 36rem; }
  .product-cta__buynow {
    position: fixed;
    right: 0;
    width: 36%;
    margin: 3rem 3rem 2rem 2rem;
    background-color: #f7f7f7;
    border: 1px solid #f7f7f7;
    box-shadow: 0 0.7rem 1.2rem rgba(0, 0, 0, 0.2); }
    .product-cta__buynow--top {
      height: 18rem;
      width: 100%;
      object-fit: cover; }
    .product-cta__buynow--bottom {
      display: flex;
      flex-direction: column;
      margin: 2rem; }
      .product-cta__buynow--bottom--price {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 3.5rem;
        font-weight: 600; }
      .product-cta__buynow--bottom--points {
        display: flex;
        flex-direction: column;
        font-size: 1.6rem;
        margin: 3rem 3rem 2rem 3rem; }
        .product-cta__buynow--bottom--points--medium {
          margin-top: 2rem; }
      .product-cta__buynow--bottom--addtocart {
        height: 4rem;
        width: 94%;
        margin-left: 3%;
        margin-right: 3%;
        margin-top: 2rem;
        border-radius: 10rem;
        border: 2px solid #1dace3;
        color: #f7f7f7;
        font-size: 2rem;
        font-weight: 600;
        background-color: #1dace3;
        outline: none;
        cursor: pointer;
        -webkit-appearance: none;
        transition: all 0.4s; }
        .product-cta__buynow--bottom--addtocart:hover {
          color: #1dace3;
          background-color: #f7f7f7; }
  .product-cta__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 56%;
    margin: 3rem;
    color: #f7f7f7; }
    .product-cta__info--title {
      font-size: 3.5rem;
      font-weight: 800; }
    .product-cta__info--tagline {
      font-size: 1.8rem; }
    .product-cta__info--author {
      font-size: 1.6rem;
      font-weight: 800; }

.product-features {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 56%;
  padding: 3rem;
  min-height: 20rem; }
  .product-features__title {
    font-size: 2.8rem;
    font-weight: 600; }
  .product-features__feature {
    display: flex;
    font-size: 1.8rem; }
    .product-features__feature--check {
      height: 3rem;
      width: 3rem;
      font-size: 3rem;
      padding-right: 5rem; }
  .product-features__list {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    column-gap: 3rem;
    row-gap: 2rem;
    margin: 2rem 0; }
