@import "./reset";
@import "./cta-top";
@import "./variables";
@import "./header";
@import "./search";
@import "./course-slider";
@import "./footer";
@import "./auth";
@import "./auth-comp";
@import "./product-cta";
