@import "./variables";

.course-slider {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 4rem;

  &__course {
    display: flex;
    flex-direction: column;
    height: 34rem;
    margin: 3rem 2rem;
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.15);
    cursor: pointer;
    transition: all 0.4s;

    &:hover {
      transform: translateY(-2px);
      box-shadow: 0 0.8rem 1.5rem rgba($color-black, 0.15);
    }

    &--img {
      height: 17rem;
    }

    &--bottom {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 17rem;

      &--title {
        display: -webkit-box;
        text-align: center;
        height: 4.5rem;
        margin: 0.7rem;
        font-size: 1.6rem;
        font-weight: 600;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      &--author {
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: left;
        margin-left: 3rem;
        margin-right: 1rem;
      }
      &--price {
        text-align: right;
        font-size: 1.6rem;
        font-weight: 600;
        margin-right: 2.5rem;
      }
    }
  }

  &__courses {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
  }

  &__title {
    display: block;
    text-align: center;
    font-size: 3rem;
  }

  &__underline {
    display: block;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid rgba($color-black, 0.15);
    width: 70%;
  }

  &__container {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 16fr 1fr;
  }
}
