// Colors

$color-white: #ffffff;

$color-grey-light: #f7f7f7;
$color-grey-lm: #d3d3d3;
$color-grey-dark: #696969;

$color-slate-dark: #29303b;

$color-black: #000000;

$color-blue-light: #1dace3;
$color-blue-dark: #001a49;

$color-pink-dark: #e9327c;

// Media Querie Break Points

// Small phones
$screen-tn-max: 500px;

// Small tablets and large smartphones (landscape view)
$screen-sm-max: 596px;

// Small tablets (portrait view)
$screen-md-max: 768px;

// Tablets and small desktops
$screen-lg-max: 992px;

// Phone devices
@mixin tn {
  @media (max-width: #{$screen-tn-max}) {
    @content;
  }
}

// Small devices
@mixin sm {
  @media (max-width: #{$screen-sm-max}) {
    @content;
  }
}

// Medium devices
@mixin md {
  @media (max-width: #{$screen-md-max}) {
    @content;
  }
}

// Large devices
@mixin lg {
  @media (max-width: #{$screen-lg-max}) {
    @content;
  }
}
